<h1>Edit Pet</h1>

<%= form_for(@pet) do |f| %>
<%= f.text_field( :name, {placeholder:"Name"}) %>
<%= f.select(:species, ["Species","Dog", "Cat", "Bird","Other"]) %>
<%= f.text_field( :breed, {placeholder: "Breed"}) %>
<%= f.select(:gender, ["Gender", "M", "F"]) %>
<%= f.text_field( :age, {placeholder: "Age"}) %>
<%= f.text_field( :location, {placeholder: "Location"}) %>
<%= f.text_field( :image_url, {placeholder: "Image Url"}) %>
<%= f.text_field( :bio, {placeholder: "Bio"}) %>
<%= f.submit "Update Pet" %>
<% end %>