<h1 class="title">Fur-Ever Friends!</h1>
<br>
<div class="mission">Our mission is to save animals of all sizes and all breeds by placing them into loving, fur-ever homes.</div> 



<h3 class="current_pets">Current Pets Waiting for their Fur-ever Homes:</h3>
<div class="all animated fadeInUp">
<% @pets.each_slice(4) do |r| %>
    <div class="row">
        <% r.each do |p| %>
            <div class="col-md-3">
                <div class="card" style="">
                <div class="card-image-box">
                    <%= image_tag(p.image_url, class: "card-img-top") %></div>
                    <div class="card-body">
                        <h5 class="card-title"><%= p.name %> : <%= p.age %></h5>
                        <p class="card-text"><%= p.breed %></p>
                        <%= link_to "Learn More", "/pets/#{p.id}", class: "btn btn-primary" %>
                    
                    </div>
                </div>
            </div>
        <% end %>
    </div>

<% end %>
</div>

